:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  /*--border: #e5e4e7;*/
 
  --shadow:
  
   rgba(0, 0, 0, 0.06) 0 6px 10px -3px, rgba(0, 0, 0, 0.03) 0 2px 4px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #444444;
    --text-h: #111111;
    --bg: #dadbe1;
    --border: #7b7b7c;
  
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}



code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.shop-image {
  height: 100px;
  width: 100px;
}

.nav-bar-container {
  display: flex;
  border-bottom: 1px solid var(--border);
  box-shadow: var(--shadow)
}

.shop-header {
  margin-left: 5%;
  margin-right: 2%;
 /* font-size: clamp(4vw, 4vw, 5vw)*/
 
  
}

.header-links {
  
  margin-left: auto;
 margin-right: 15%;
 align-self: center;
 /*margin-left: 30vw;*/
 margin-left: 35%;
 display: flex;
 gap: 10%;
}

.header-link {
  text-decoration: none;
  font-size: 27px;
  font-weight: bold;
  /*color:rgb(183, 169, 22);*/
  color:#2477f3;
  transition: 0.4s ease;
  

}

.header-link:hover {
  /*color: rgb(246, 228, 29);*/
  color:#1851a6;
  transform: translateY(-3px);
}

.cart-num-container {
  background-color: red;
  border-radius: 10px;
  
align-self: center;

/*margin-left: clamp(2vw, 15px, 20px);*/

margin-right: 3%;
color: black

}

.cart-num {
  max-width:  3.8vw;
  width: 30px;
  font-size: 1.5vw;
  height: 3.8vh;
}

.all-products {
  margin-right: auto;
  margin-left: 3%;
  font-size: 30px;
  margin-top: 4%;
}

.all-shop-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.shop-item-container {
  border: 1px transparent var(--border);
   box-shadow: var(--shadow);
  width: 87%;
  min-height: 300px;
  height: auto;
  justify-self: center;
  /*align-self: center;*/
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50% 50%;
  transition: 0.3s ease;
  margin-bottom: 25px;
}

.shop-item-container:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
  /*box-shadow: 0px 4px /*2px 5px rgba(203, 199, 199, 0.1)*/
  
}

.item-image-container {
  grid-row:1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.shop-image {
  height: 70%;
  width: 40%;
}

.bottom-item-container {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 33% 33% 33%
}

.item-title {
  font-size: 17px;
  font-family: var(--sans);
  font-weight: 700;
  margin-top: 0%;
  margin-left: 2%;
  grid-row: 1 / 2;
 /* margin-bottom: clamp(0px, 5%, 20px)*/
}

.rating-price-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5%;
  grid-row: 2 / 3;
  align-items: center;
}

.rating-container {
  display: flex;
  
  align-items: center;
 justify-self: end;
 width: 70%;
  
}

.star-icon {
  /*height: 60%;
  width: 10%;*/
  height: 19px;
  width: 19px;
  align-self: center;
  margin-right: 5%;
  margin-top: 0.5%;
}

.price {
  margin-right: 40%;
  justify-self: center;
  font-weight: 650;
  

}

.add-to-cart-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  
  grid-row: 3 / 4;
}


.add-to-cart-button {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 30px;
  transition: 0.4s ease;
  grid-column: 1 / 2;
   /*font-size: calc(0.5rem + 0.3vw);*/
   font-size: 66%;
   font-weight: 500;
   font-family: var(--sans)
}

.add-to-cart-button:hover {
  transform: scale(1.05)
}

.add-to-cart-button, .num-of-items-container {
  margin-left: 5%;
  margin-right: 10%;
}

.rating-text {
  font-weight: 500
}

.num-of-items-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 1px solid var(--border);
 
  width: 80%;
  justify-self: end;
  border-radius: 5px;
  height: 30px;
  grid-column: 2 / 3;
}

.increment-items-button {
height: 100%;
background-color:transparent;
border: none;
font-size: 100%;
border-radius: 5px;
transition: 0.4s ease;
color: black
}

.num-of-items-p {
  margin-top: 1px;
  
}

.increment-items-button:hover {
  background-color: #c0c0c1;
  
}

.top-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.left-container {
display: flex;
flex-direction: column;
justify-content: center;
gap: 3.5vh;
}

.home-header {
  font-size: 5vw;
}

.home-description {
margin-left: 2%;
}

.home-img {

padding: 10%;
height: 50vh;
width: 40vw;
object-fit: cover;
}

.homepage-links {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.homepage-link {
  border: none;
  /*height: 5vh;
  width: 8vw;
  font-size: 1.5vw;*/
  height: 45px;
  width: 110px;
  border-radius: 0.7vw;
  transition: 0.4s ease;
  font-family: var(--sans);
  font-size: 80%;
  font-weight: 500;
}

#shop-link {
  color: white;
    background-color: #2477f3;
}

#shop-link:hover {
  background-color: #1851a6;
  transform: translateY(-3px)
}

#cart-link {
  color: black;
  background-color: white;
}

#cart-link:hover {
  transform: translateY(-3px);
  background-color: rgb(154, 154, 154)
}

.featured-products-header {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 30px;

}

.default-cart-subheader {
  margin-bottom:3%;
}

.default-cart-container {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  align-items: center;
}

.cart-page-container {
  display: grid;
  /*grid-template-columns: repeat( minmax(200px, 50%))*/
  grid-template-columns: 65% 35%;
}

.cart-header {
  margin-right: auto;
  margin-left: 3vw;
  margin-top: 7vw;
  margin-bottom: 3vw;
}

.payment-container {
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 10px;
  height: 200px;
  margin-right: 5%;
  
  
}

.total-container {
  display: flex;
  justify-content: space-between;
  margin: 10%;
  align-items: center;
}

#total-num {
  color:#2477f3;
  font-weight: 700;
  font-size: 175%;
}

.total {
  font-size: 175%;
}

.pay-button {
  background-color: #2477f3;
  font-weight: 600;
  font-size: 80%;
  height: 50px;
  border-radius: 8px;
  border: none;
  width: 60%;
  transition: 0.5s ease;
}

.pay-button:hover {
  background-color: #1f64cb;
  transform: scale(1.05)
}


@media (max-width: 850px) {

  .cart-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    }
.payment-container {
  height: 250px;
  margin: 10%;
}
    .cart-header {
      margin-right: 0%;
      margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
  .all-shop-items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr
  }

  .cart-num {
    font-size: 15px;
  }

  .home-header {
    font-size: 30px;
    margin-top: 35px;
  }

  .header-links {
    margin-left: 20%;
  }
}



@media (max-width: 517px) {
.home-img {
 /* width: 400px;*/
 width: 80vw;
}
.cart-num {
  font-size: 10px;
  height: 50%;
}


}

@media (max-width: 500px) {
  .all-shop-items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
  }

  

  .header-link {
    font-size: 20px;
  }

  .header-links {
    margin-right: 3%;
    

  }
}

